@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
    background: #262626;
    color:#fff;
    font-family: 'Montserrat';
    margin:0;
}

.row {
    width:100%;
    margin-top:25px;
    background:#1A1A1A;
    border-bottom: 3px solid #FF0057;
    display: grid;
/*    grid-template-columns: 35% auto 35%;*/
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
}

#price-container {
    margin-left: 5px;
    margin-right: 5px;
    background:#353535;
    padding: 0 10px;
    text-align:center;
}

.price-container {
    margin-left: 5px;
    margin-right: 5px;
    background:#353535;
    padding: 0 10px;
    text-align:center;
}

#goal-container {
    padding:20px;
}
.subtext {
    /* font-size:.8em; */
    /* background-color:black; */
    font-size: 15px;
    text-transform:uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}
img {
    width: 20px;
}

h6 {
    margin: 0 0 5px 0;
    font-size: 13px;
}

button {
    /* float:right; */
    background:#FF0057;
    border:none;
    color:#fff;
    /* text-transform:uppercase; */
    /* padding:10px; */
    /* margin-right: 30px; */
    cursor:pointer;
}


/* News */

#news{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

#info-container0 {
    max-width: 300px;
    max-height: 300px;
    margin-left: 5px;
    margin-right: 5px;
    background:#353535;
    padding: 0 10px;
    text-align:left;
    /* opacity: 0.5; */
}

#info-container1 {
    max-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    background:#353535;
    padding: 0 10px;
    text-align:left;
}

#info-container2 {
    max-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    background:#353535;
    padding: 0 10px;
    text-align:left;
}

#info-container3 {
    max-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    background:#353535;
    padding: 0 10px;
    text-align:left;
}

#info-container4 {
    max-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    background:#353535;
    padding: 0 10px;
    text-align:left;
}

.subtext_info {
    /* font-size:.8em; */
    background-color:white;
    color: black;
    font-size: 10px;
    text-transform:uppercase;
    margin-top: 100px;
    margin-bottom: 0px;
    font-weight: bold;
}

.url{
    background-color:white;
    color:red;
    font-size: 5px;
    /* margin-top: 100px; */
    margin-bottom: 0px;
    font-weight: bold;
}

/* .source{
    color: darkred;
} */


/* end News */



/* crypto.html */

.display-crypto {
    margin-left: 5px;
    margin-right: 5px;
    background:#353535;
    padding: 0 10px;
    text-align:center;
    font-size: 11px;
    font-weight: bold;
}

#search_price-container{
    margin-left: 5px;
    margin-right: 5px;
    width: 400px;
    background:#353535;
    padding: 0 10px;
    text-align:center;
}

.subtext_search{
    /* font-size:.8em; */
    /* background-color:black; */
    font-size: 25px;
    text-transform:uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.info-symbol{
    display: inline-block;
    margin-left: 30px;
    width: 150px;
    height: 100px;
    padding: 5px;
    /* border: 1px solid blue;        
    background-color: yellow; */
    text-align: left;
    font-size: 20px;
}

.left{
    font-size: 20px;
}

.right{
    font-size: 20px;
}